## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.DotSettings.user

## MAUI
Platforms/*/bin/
Platforms/*/obj/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## IDE
.idea/
.vscode/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Project
*.db
*.db-shm
*.db-wal
